section.socials#socials
  .bg-change(data-orig-color="rgba(255, 255, 255, .0)")
    .flex.flex--center
      .col-2
        p.home-lead ...he easily connects as well...
          
    .flex.flex--center
      .col-2
        .soc-media
          .bloc-1
            a(href="http://facebook.com/itsfrancisnadal" target="_blank" data-color="rgba(59,89,152,.7)")#fb.soc-link <i class="fa fa-facebook" aria-hidden="true"></i>
            a(href="http://instagram.com/itsfrancisnadal" target="_blank" data-color="rgba(138,58,185,.7)")#insta.soc-link <i class="fa fa-instagram" aria-hidden="true"></i>
            a(href="https://ph.linkedin.com/in/francis-jason-nadal-3674a9a1" target="_blank" data-color="rgba(0,123,181,.7)")#linked.soc-link <i class="fa fa-linkedin" aria-hidden="true"></i>
          .bloc-2
            a(href="http://twitter.com/itsfrancisnadal" target="_blank" data-color="rgba(85,172,238,.7)")#tweet.soc-link <i class="fa fa-twitter" aria-hidden="true"></i>
            a(href="https://plus.google.com/u/0/+FrancisNadal7" target="_blank" data-color="rgba(221,75,57,.7)")#g-plus.soc-link <i class="fa fa-google-plus" aria-hidden="true"></i>
            a(href="http://codepen.io/itsfrancisnadal/" target="_blank" data-color="rgba(0,0,0,.7)")#code.soc-link <i class="fa fa-codepen" aria-hidden="true"></i>
            
