section.colaborate#colab
  .flex.flex--center
    .col-2
      p.home-lead ...and would love to hear from you!
      
      .colab-form.
       <form action="https://formspree.io/francis.nadal@gmail.com" method="POST">
        <div class="contact-info-group">
          <label><span>Your Awesome Name</span>
            <input type="text" name="name"></label>
          <label><span>Your Awesome Email</span>
            <input type="email" name="_replyto"></label>
        </div>
        
        <label><span>Your Awesome Idea</span>
        <textarea name="message"></textarea></label>
        
        <div class="submit-wrap">
          <input class="home-cta" type="submit" value="Send">
        </div>
      </form>
      
      .mail-link
        a(href="mailto:francis.nadal@gmail.com") francis.nadal@gmail.com
